/* This main scss file is loaded via nuxt.config.js and here you should import all other base scss files. */
@import 'variables';
@import 'buttons';
@import 'forms';

html {
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

a {
  transition: .3s ease(easeOutSine);
}
